In [70]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

In [3]:
data_movies = pd.read_csv('ml-latest-small/movies.csv')
data_ratings = pd.read_csv('ml-latest-small/ratings.csv')
data_tags = pd.read_csv('ml-latest-small/tags.csv')

In [4]:
print(data_movies)
print(data_ratings)
print(data_tags)

      movieId                                      title  \
0           1                           Toy Story (1995)
1           2                             Jumanji (1995)
2           3                    Grumpier Old Men (1995)
3           4                   Waiting to Exhale (1995)
4           5         Father of the Bride Part II (1995)
...       ...                                        ...
9737   193581  Black Butler: Book of the Atlantic (2017)
9738   193583               No Game No Life: Zero (2017)
9739   193585                               Flint (2017)
9740   193587        Bungo Stray Dogs: Dead Apple (2018)
9741   193609        Andrew Dice Clay: Dice Rules (1991)

                                           genres
0     Adventure|Animation|Children|Comedy|Fantasy
1                      Adventure|Children|Fantasy
2                                  Comedy|Romance
3                            Comedy|Drama|Romance
4                                          Comedy
...                                           ...
9737              Action|Animation|Comedy|Fantasy
9738                     Animation|Comedy|Fantasy
9739                                        Drama
9740                             Action|Animation
9741                                       Comedy

[9742 rows x 3 columns]
        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]
      userId  movieId               tag   timestamp
0          2    60756             funny  1445714994
1          2    60756   Highly quotable  1445714996
2          2    60756      will ferrell  1445714992
3          2    89774      Boxing story  1445715207
4          2    89774               MMA  1445715200
...      ...      ...               ...         ...
3678     606     7382         for katie  1171234019
3679     606     7936           austere  1173392334
3680     610     3265            gun fu  1493843984
3681     610     3265  heroic bloodshed  1493843978
3682     610   168248  Heroic Bloodshed  1493844270

[3683 rows x 4 columns]

In [13]:
all_movies = data_movies['movieId'].unique()
print(len(all_movies))
users_all = data_ratings['userId'].unique()
print(len(users_all))

9742
610

In [20]:
data_movies['genres'] = data_movies['genres'].apply(
    lambda x: [] if [genre.strip() for genre in x.split('|')] == ['(no genres listed)'] else [genre.strip() for genre in x.split('|')]
)

In [21]:
data_movies['genres']

0       [Adventure, Animation, Children, Comedy, Fantasy]
1                          [Adventure, Children, Fantasy]
2                                       [Comedy, Romance]
3                                [Comedy, Drama, Romance]
4                                                [Comedy]
                              ...
9737                 [Action, Animation, Comedy, Fantasy]
9738                         [Animation, Comedy, Fantasy]
9739                                              [Drama]
9740                                  [Action, Animation]
9741                                             [Comedy]
Name: genres, Length: 9742, dtype: object

In [9]:
all_genres = set()
for i in data_movies['genres']:
    all_genres.update(i)

{'Action',
 'Adventure',
 'Animation',
 'Children',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Fantasy',
 'Film-Noir',
 'Horror',
 'IMAX',
 'Musical',
 'Mystery',
 'Romance',
 'Sci-Fi',
 'Thriller',
 'War',
 'Western'}

In [12]:
all_movies

array([     1,      2,      3, ..., 193585, 193587, 193609], dtype=int64)

### Реализация item-based

In [22]:
# Создание фрейма по жанрам и среднему рейтингу
mean_ratings = data_ratings.groupby('movieId')['rating'].mean().reset_index()

mean_ratings.rename(columns={'rating': 'mean_rating'}, inplace=True)

print(mean_ratings)

item_matrix = pd.DataFrame(0, columns=list(all_genres), index=all_movies)

      movieId  mean_rating
0           1     3.920930
1           2     3.431818
2           3     3.259615
3           4     2.357143
4           5     3.071429
...       ...          ...
9719   193581     4.000000
9720   193583     3.500000
9721   193585     3.500000
9722   193587     3.500000
9723   193609     4.000000

[9724 rows x 2 columns]

In [24]:
for _, row in data_movies.iterrows():
    movie_id = row['movieId']
    genres = row['genres']  

    for genre in genres:
        if genre in item_matrix.columns:
            item_matrix.loc[movie_id, genre] = 1

print(item_matrix)

        IMAX  Horror  Western  Sci-Fi  Animation  Film-Noir  Mystery  Action  \
1          0       0        0       0          1          0        0       0
2          0       0        0       0          0          0        0       0
3          0       0        0       0          0          0        0       0
4          0       0        0       0          0          0        0       0
5          0       0        0       0          0          0        0       0
...      ...     ...      ...     ...        ...        ...      ...     ...
193581     0       0        0       0          1          0        0       1
193583     0       0        0       0          1          0        0       0
193585     0       0        0       0          0          0        0       0
193587     0       0        0       0          1          0        0       1
193609     0       0        0       0          0          0        0       0

        Crime  War  Romance  Documentary  Musical  Thriller  Fantasy  Comedy  \
1           0    0        0            0        0         0        1       1
2           0    0        0            0        0         0        1       0
3           0    0        1            0        0         0        0       1
4           0    0        1            0        0         0        0       1
5           0    0        0            0        0         0        0       1
...       ...  ...      ...          ...      ...       ...      ...     ...
193581      0    0        0            0        0         0        1       1
193583      0    0        0            0        0         0        1       1
193585      0    0        0            0        0         0        0       0
193587      0    0        0            0        0         0        0       0
193609      0    0        0            0        0         0        0       1

        Children  Drama  Adventure
1              1      0          1
2              1      0          1
3              0      0          0
4              0      1          0
5              0      0          0
...          ...    ...        ...
193581         0      0          0
193583         0      0          0
193585         0      1          0
193587         0      0          0
193609         0      0          0

[9742 rows x 19 columns]

In [38]:
df_index = item_matrix.reset_index()
df_index.rename(columns={'index': 'movieId'}, inplace=True)

df_finish= df_index.merge(mean_ratings, on='movieId', how='left')
print(df_finish)

      movieId  IMAX  Horror  Western  Sci-Fi  Animation  Film-Noir  Mystery  \
0           1     0       0        0       0          1          0        0
1           2     0       0        0       0          0          0        0
2           3     0       0        0       0          0          0        0
3           4     0       0        0       0          0          0        0
4           5     0       0        0       0          0          0        0
...       ...   ...     ...      ...     ...        ...        ...      ...
9737   193581     0       0        0       0          1          0        0
9738   193583     0       0        0       0          1          0        0
9739   193585     0       0        0       0          0          0        0
9740   193587     0       0        0       0          1          0        0
9741   193609     0       0        0       0          0          0        0

      Action  Crime  ...  Romance  Documentary  Musical  Thriller  Fantasy  \
0          0      0  ...        0            0        0         0        1
1          0      0  ...        0            0        0         0        1
2          0      0  ...        1            0        0         0        0
3          0      0  ...        1            0        0         0        0
4          0      0  ...        0            0        0         0        0
...      ...    ...  ...      ...          ...      ...       ...      ...
9737       1      0  ...        0            0        0         0        1
9738       0      0  ...        0            0        0         0        1
9739       0      0  ...        0            0        0         0        0
9740       1      0  ...        0            0        0         0        0
9741       0      0  ...        0            0        0         0        0

      Comedy  Children  Drama  Adventure  mean_rating
0          1         1      0          1     3.920930
1          0         1      0          1     3.431818
2          1         0      0          0     3.259615
3          1         0      1          0     2.357143
4          1         0      0          0     3.071429
...      ...       ...    ...        ...          ...
9737       1         0      0          0     4.000000
9738       1         0      0          0     3.500000
9739       0         0      1          0     3.500000
9740       0         0      0          0     3.500000
9741       1         0      0          0     4.000000

[9742 rows x 21 columns]

In [39]:
df_indexes = df_finish.pop('movieId')

In [40]:
df_finish

,IMAX,Horror,Western,Sci-Fi,Animation,Film-Noir,Mystery,Action,Crime,War,Romance,Documentary,Musical,Thriller,Fantasy,Comedy,Children,Drama,Adventure,mean_rating
0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,1,0,1,3.920930
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1,3.431818
2,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,3.259615
3,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,1,0,2.357143
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,3.071429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9737,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,1,0,0,0,4.000000
9738,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,3.500000
9739,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,3.500000
9740,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,3.500000
9741,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,4.000000

In [52]:
df_finish['mean_rating'] = df_finish['mean_rating'].fillna(0)

In [53]:
df_columns = df_finish.columns
print(list(df_columns))

['IMAX', 'Horror', 'Western', 'Sci-Fi', 'Animation', 'Film-Noir', 'Mystery', 'Action', 'Crime', 'War', 'Romance', 'Documentary', 'Musical', 'Thriller', 'Fantasy', 'Comedy', 'Children', 'Drama', 'Adventure', 'mean_rating']

In [58]:
df_numpy = df_finish.to_numpy()

In [59]:
# Вычисление матрицы сходства
cosinuse_similar = cosine_similarity(df_numpy)

In [63]:
print(len(cosinuse_similar))
print(cosinuse_similar)

9742
[[1.         0.94839359 0.85925067 ... 0.83524586 0.86409509 0.89646547]
 [0.94839359 1.         0.81898262 ... 0.8583921  0.82772528 0.86608624]
 [0.85925067 0.81898262 1.         ... 0.88208245 0.85056927 0.95824767]
 ...
 [0.83524586 0.8583921  0.88208245 ... 1.         0.89149871 0.93281525]
 [0.86409509 0.82772528 0.85056927 ... 0.89149871 1.         0.89948959]
 [0.89646547 0.86608624 0.95824767 ... 0.93281525 0.89948959 1.        ]]

In [64]:
df_indexes

0            1
1            2
2            3
3            4
4            5
         ...
9737    193581
9738    193583
9739    193585
9740    193587
9741    193609
Name: movieId, Length: 9742, dtype: int64

In [68]:
df_indexes[df_indexes == 5].index[0]

4

In [85]:
def find_k_similar_films(movie_id, k=5):
    target_index = df_indexes[df_indexes == movie_id].index[0]
    print(target_index)

    similarities = cosinuse_similar[target_index]

    # Ищем индексы топ-k значений (исключая сам объект)
    top_k_indices = np.argsort(similarities)[::-1]
    top_k_indices = top_k_indices[top_k_indices != target_index][:k:]
    print(top_k_indices)
    return target_index, top_k_indices

In [86]:
target_index, top_k_indexes = find_k_similar_films(5)

4
[2129  644 1528 2960 3459]

In [93]:
def print_item_based_result(target_index, top_k_indexes):
    target_movieId = df_indexes.loc[target_index]
    # print(target_movieId)

    top_k_moviesId = df_indexes.loc[top_k_indexes].values
    moviesId = np.insert(top_k_moviesId, 0, target_movieId)
    # print(moviesId)
    # return moviesId

    found_items = data_movies[data_movies['movieId'].isin(moviesId)]

    print(found_items)

print_item_based_result(target_index, top_k_indexes)

      movieId                               title    genres
4           5  Father of the Bride Part II (1995)  [Comedy]
644       830        First Wives Club, The (1996)  [Comedy]
1528     2060                  BASEketball (1998)  [Comedy]
2129     2829                    Muse, The (1999)  [Comedy]
2960     3968                    Bedazzled (2000)  [Comedy]
3459     4718               American Pie 2 (2001)  [Comedy]

### user-based

In [119]:
df_matrix_user = pd.DataFrame(0, index=all_movies, columns=users_all)

df_pivot = data_ratings.pivot(index='movieId', columns='userId', values='rating')

# Заполняем пропуски значением 0
df_pivot_filled = df_pivot.fillna(0)
del df_pivot

In [120]:
print(df_matrix_user)
print(df_pivot_filled)

        1    2    3    4    5    6    7    8    9    10   ...  601  602  603  \
1         0    0    0    0    0    0    0    0    0    0  ...    0    0    0
2         0    0    0    0    0    0    0    0    0    0  ...    0    0    0
3         0    0    0    0    0    0    0    0    0    0  ...    0    0    0
4         0    0    0    0    0    0    0    0    0    0  ...    0    0    0
5         0    0    0    0    0    0    0    0    0    0  ...    0    0    0
...     ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
193581    0    0    0    0    0    0    0    0    0    0  ...    0    0    0
193583    0    0    0    0    0    0    0    0    0    0  ...    0    0    0
193585    0    0    0    0    0    0    0    0    0    0  ...    0    0    0
193587    0    0    0    0    0    0    0    0    0    0  ...    0    0    0
193609    0    0    0    0    0    0    0    0    0    0  ...    0    0    0

        604  605  606  607  608  609  610
1         0    0    0    0    0    0    0
2         0    0    0    0    0    0    0
3         0    0    0    0    0    0    0
4         0    0    0    0    0    0    0
5         0    0    0    0    0    0    0
...     ...  ...  ...  ...  ...  ...  ...
193581    0    0    0    0    0    0    0
193583    0    0    0    0    0    0    0
193585    0    0    0    0    0    0    0
193587    0    0    0    0    0    0    0
193609    0    0    0    0    0    0    0

[9742 rows x 610 columns]
userId   1    2    3    4    5    6    7    8    9    10   ...  601  602  603  \
movieId                                                    ...
1        4.0  0.0  0.0  0.0  4.0  0.0  4.5  0.0  0.0  0.0  ...  4.0  0.0  4.0
2        0.0  0.0  0.0  0.0  0.0  4.0  0.0  4.0  0.0  0.0  ...  0.0  4.0  0.0
3        4.0  0.0  0.0  0.0  0.0  5.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
4        0.0  0.0  0.0  0.0  0.0  3.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
5        0.0  0.0  0.0  0.0  0.0  5.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
...      ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
193581   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
193583   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
193585   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
193587   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
193609   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0

userId   604  605  606  607  608  609  610
movieId
1        3.0  4.0  2.5  4.0  2.5  3.0  5.0
2        5.0  3.5  0.0  0.0  2.0  0.0  0.0
3        0.0  0.0  0.0  0.0  2.0  0.0  0.0
4        0.0  0.0  0.0  0.0  0.0  0.0  0.0
5        3.0  0.0  0.0  0.0  0.0  0.0  0.0
...      ...  ...  ...  ...  ...  ...  ...
193581   0.0  0.0  0.0  0.0  0.0  0.0  0.0
193583   0.0  0.0  0.0  0.0  0.0  0.0  0.0
193585   0.0  0.0  0.0  0.0  0.0  0.0  0.0
193587   0.0  0.0  0.0  0.0  0.0  0.0  0.0
193609   0.0  0.0  0.0  0.0  0.0  0.0  0.0

[9724 rows x 610 columns]

In [121]:
df_matrix_user = df_matrix_user.astype('float64') 
df_matrix_user.update(df_pivot_filled)

In [125]:
df_matrix_user

,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
1,4.0,0.0,0.0,0.0,4.0,0.0,4.5,0.0,0.0,0.0,...,4.0,0.0,4.0,3.0,4.0,2.5,4.0,2.5,3.0,5.0
2,0.0,0.0,0.0,0.0,0.0,4.0,0.0,4.0,0.0,0.0,...,0.0,4.0,0.0,5.0,3.5,0.0,0.0,2.0,0.0,0.0
3,4.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193583,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193585,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193587,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193609,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [130]:
df_reset = df_matrix_user.reset_index()
df_reset.rename(columns={'index': 'movieId'}, inplace=True)

In [131]:
df_indexes_u_m = df_reset.pop('movieId')

In [135]:
numpy_user_based = df_reset.T.to_numpy()
print(numpy_user_based)

[[4.  0.  4.  ... 0.  0.  0. ]
 [0.  0.  0.  ... 0.  0.  0. ]
 [0.  0.  0.  ... 0.  0.  0. ]
 ...
 [2.5 2.  2.  ... 0.  0.  0. ]
 [3.  0.  0.  ... 0.  0.  0. ]
 [5.  0.  0.  ... 0.  0.  0. ]]

In [137]:
cosine_sim_user_based = cosine_similarity(numpy_user_based)
print(len(cosine_sim_user_based))
print(cosine_sim_user_based)

610
[[1.         0.02728287 0.05972026 ... 0.29109737 0.09357193 0.14532081]
 [0.02728287 1.         0.         ... 0.04621095 0.0275654  0.10242675]
 [0.05972026 0.         1.         ... 0.02112846 0.         0.03211875]
 ...
 [0.29109737 0.04621095 0.02112846 ... 1.         0.12199271 0.32205486]
 [0.09357193 0.0275654  0.         ... 0.12199271 1.         0.05322546]
 [0.14532081 0.10242675 0.03211875 ... 0.32205486 0.05322546 1.        ]]

In [162]:
indexes_user_list = df_matrix_user.columns
print(indexes_user_list)

Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
       ...
       601, 602, 603, 604, 605, 606, 607, 608, 609, 610],
      dtype='int64', length=610)

In [163]:
def find_similar_k_users(userId, k=5):
    target_index = np.where(indexes_user_list == userId)[0][0]
    print(target_index)
    similarities = cosine_sim_user_based[target_index]

    # Ищем индексы топ-k значений (исключая сам объект)
    top_k_indices = np.argsort(similarities)[::-1]
    top_k_indices = top_k_indices[top_k_indices != target_index][:k:]
    print(top_k_indices)
    return target_index, top_k_indices

target_id_user, top_k_id_users = find_similar_k_users(1)

0
[265 312 367  56  90]

In [164]:
def get_rated_movies(df, user_id):
    user_ratings = df[user_id]
    rated_movie_ids = user_ratings[user_ratings != 0].index

    return rated_movie_ids.tolist()

In [165]:
def print_films_user_based_result(target_index, top_k_indexes):
    target_userId = indexes_user_list[target_index]
    print(target_userId)

    top_k_userId = list(indexes_user_list[list(top_k_indexes)])
    print(top_k_userId)

    target_movies_id = get_rated_movies(df_matrix_user, target_userId)
    print(target_movies_id)

    set_movies_id_recommended = set()
    for i in top_k_userId:
        set_movies_id_recommended.update(get_rated_movies(df_matrix_user, i))

    print(set_movies_id_recommended)

    set_movies_id_recommended.difference_update(target_movies_id)

    print('Фильмы, которые посмотрел пользователь:')

    user_movies = data_movies[data_movies['movieId'].isin(target_movies_id)]
    print(user_movies, '\n')

    print('Рекомендованные фильмы, которые смотрели похожие пользователи:')
    recommended_movies = data_movies[data_movies['movieId'].isin(set_movies_id_recommended)]
    print(recommended_movies, '\n')

print_films_user_based_result(target_id_user, top_k_id_users)

1
[266, 313, 368, 57, 91]
[1, 3, 6, 47, 50, 70, 101, 110, 151, 157, 163, 216, 223, 231, 235, 260, 296, 316, 333, 349, 356, 362, 367, 423, 441, 457, 480, 500, 527, 543, 552, 553, 590, 592, 593, 596, 608, 648, 661, 673, 733, 736, 780, 804, 919, 923, 940, 943, 954, 1009, 1023, 1024, 1025, 1029, 1030, 1031, 1032, 1042, 1049, 1060, 1073, 1080, 1089, 1090, 1092, 1097, 1127, 1136, 1196, 1197, 1198, 1206, 1208, 1210, 1213, 1214, 1219, 1220, 1222, 1224, 1226, 1240, 1256, 1258, 1265, 1270, 1275, 1278, 1282, 1291, 1298, 1348, 1377, 1396, 1408, 1445, 1473, 1500, 1517, 1552, 1573, 1580, 1587, 1617, 1620, 1625, 1644, 1676, 1732, 1777, 1793, 1804, 1805, 1920, 1927, 1954, 1967, 2000, 2005, 2012, 2018, 2028, 2033, 2046, 2048, 2054, 2058, 2078, 2090, 2093, 2094, 2096, 2099, 2105, 2115, 2116, 2137, 2139, 2141, 2143, 2161, 2174, 2193, 2253, 2268, 2273, 2291, 2329, 2338, 2353, 2366, 2387, 2389, 2395, 2406, 2414, 2427, 2450, 2459, 2470, 2478, 2492, 2502, 2528, 2529, 2542, 2571, 2580, 2596, 2616, 2617, 2628, 2640, 2641, 2644, 2648, 2654, 2657, 2692, 2700, 2716, 2761, 2797, 2826, 2858, 2872, 2899, 2916, 2944, 2947, 2948, 2949, 2959, 2985, 2987, 2991, 2993, 2997, 3033, 3034, 3052, 3053, 3062, 3147, 3168, 3176, 3243, 3247, 3253, 3273, 3386, 3439, 3440, 3441, 3448, 3450, 3479, 3489, 3527, 3578, 3617, 3639, 3671, 3702, 3703, 3729, 3740, 3744, 3793, 3809, 4006, 5060]
{1, 2, 3, 2053, 6, 2054, 3258, 4105, 10, 2058, 11, 3259, 2060, 4109, 16, 17, 2064, 2067, 3260, 21, 22, 19, 24, 4121, 25, 2072, 2076, 29, 32, 2080, 4128, 4130, 2081, 4133, 2083, 39, 2087, 2088, 42, 36, 41, 45, 2094, 47, 2096, 2097, 50, 2100, 4148, 52, 2102, 2105, 58, 6203, 2108, 2109, 2110, 64, 2112, 65, 2115, 2116, 69, 70, 2117, 2118, 2121, 2122, 5294, 76, 2124, 2126, 79, 6218, 81, 5308, 6219, 4180, 2135, 88, 89, 2138, 2137, 2140, 92, 95, 2144, 2146, 6242, 101, 2150, 104, 2153, 107, 2155, 110, 111, 112, 2161, 4210, 2160, 4214, 2167, 2174, 4226, 132, 135, 6283, 141, 145, 2194, 2195, 2193, 8340, 150, 151, 153, 2202, 158, 4254, 160, 161, 162, 163, 164, 165, 4262, 7360, 168, 3263, 170, 171, 172, 173, 8368, 8370, 4275, 2231, 2232, 185, 186, 6327, 188, 2236, 6333, 196, 198, 2249, 2253, 208, 4304, 4306, 2263, 2268, 3300, 4316, 223, 224, 225, 2273, 2275, 227, 6365, 2278, 230, 231, 4327, 234, 235, 236, 6375, 6378, 2287, 2288, 2289, 8426, 2291, 4340, 2297, 2298, 251, 2300, 253, 2302, 4351, 2301, 257, 252, 2307, 260, 2311, 265, 266, 272, 2321, 4370, 2322, 2324, 4369, 5346, 2334, 288, 2336, 4386, 292, 293, 296, 2344, 2347, 303, 2353, 305, 2355, 2354, 8501, 2363, 316, 315, 318, 2366, 317, 2367, 322, 6461, 8507, 2373, 2376, 2377, 329, 332, 2384, 337, 2387, 2390, 2391, 344, 2393, 4438, 2395, 2396, 349, 350, 2399, 4448, 353, 2402, 2403, 356, 2404, 2406, 2407, 2405, 2409, 2410, 355, 2412, 357, 364, 367, 368, 370, 2419, 2420, 374, 376, 377, 379, 2428, 380, 382, 2427, 2429, 384, 2431, 8581, 6539, 2450, 4499, 405, 2455, 2456, 2457, 410, 2459, 415, 2463, 417, 2467, 2468, 421, 4518, 2471, 2470, 420, 426, 2476, 428, 2478, 431, 432, 433, 434, 435, 436, 438, 440, 441, 2490, 442, 8636, 454, 2502, 457, 4553, 459, 2505, 464, 2513, 466, 2518, 471, 473, 474, 4571, 476, 2524, 2522, 2527, 480, 2528, 2529, 2530, 2531, 2532, 2533, 481, 482, 485, 490, 2539, 2535, 493, 2542, 494, 4587, 497, 6638, 500, 502, 4599, 2553, 2560, 512, 514, 2561, 515, 517, 516, 519, 518, 521, 520, 2571, 6659, 527, 4624, 4626, 2580, 533, 4629, 6678, 537, 539, 540, 541, 6620, 543, 544, 4641, 4643, 548, 4645, 2598, 551, 2599, 552, 553, 555, 2605, 6707, 2613, 4661, 2616, 2617, 2625, 6721, 2628, 4678, 6629, 586, 587, 588, 589, 590, 6731, 592, 593, 2640, 2641, 2643, 594, 595, 596, 597, 2642, 6744, 2651, 606, 2654, 608, 2657, 610, 6755, 8798, 2662, 2664, 2668, 2670, 2672, 4720, 628, 8266, 2681, 2683, 2687, 2688, 2690, 2692, 647, 648, 2699, 2700, 653, 2702, 2701, 2706, 2709, 2710, 6807, 2712, 2713, 2716, 2717, 671, 673, 674, 2723, 6820, 678, 4774, 2728, 8874, 2735, 27317, 694, 2746, 2747, 4799, 4800, 707, 708, 2759, 2761, 2762, 2763, 6857, 8910, 6863, 720, 2770, 728, 6874, 733, 2782, 736, 737, 2784, 2788, 741, 2790, 2791, 2792, 745, 748, 2797, 750, 2798, 4848, 4846, 2802, 2803, 2804, 4850, 4855, 2808, 761, 762, 2812, 2815, 2816, 4865, 2817, 2819, 2818, 8961, 778, 4874, 780, 781, 782, 783, 784, 785, 786, 4878, 4886, 798, 799, 1380, 4896, 802, 4901, 809, 2858, 810, 3418, 4909, 2863, 2867, 4915, 2868, 6963, 2871, 2872, 832, 2881, 838, 2890, 842, 4941, 849, 851, 2901, 4951, 7000, 858, 861, 866, 4963, 2916, 2917, 2918, 3429, 2921, 2922, 4975, 880, 4979, 4980, 7028, 2935, 891, 892, 2941, 4987, 2944, 4993, 897, 2947, 2948, 2949, 899, 903, 904, 2951, 908, 2959, 912, 911, 5010, 913, 915, 2961, 919, 2968, 920, 922, 923, 924, 5026, 933, 2985, 2986, 2987, 940, 2989, 2990, 5039, 5040, 2991, 2993, 942, 2992, 2997, 5479, 951, 3000, 7090, 955, 3005, 5060, 3013, 3016, 968, 969, 3017, 3020, 3018, 3022, 7118, 27873, 31696, 7123, 3029, 3030, 3031, 3032, 3033, 3035, 3039, 991, 994, 996, 3044, 3045, 999, 3052, 7153, 3060, 3062, 3063, 3064, 3066, 3070, 1027, 1028, 1030, 1032, 3081, 3082, 1035, 1036, 1037, 1042, 1047, 1049, 3102, 3104, 3105, 1059, 1060, 3108, 1061, 3107, 3113, 3114, 5165, 1073, 1079, 1080, 3127, 1089, 1090, 1092, 1093, 3142, 1094, 1097, 3147, 1100, 1101, 3148, 3153, 3156, 3159, 3160, 3162, 5214, 1125, 3173, 1127, 3175, 1129, 3176, 3182, 1136, 1148, 3197, 3203, 3204, 5254, 3208, 3210, 7308, 1171, 3219, 1179, 1183, 1184, 1193, 1196, 1197, 1198, 1199, 1200, 1201, 3247, 3249, 1204, 3253, 1206, 3255, 1208, 3256, 1210, 3257, 1212, 1213, 1214, 1215, 3262, 3265, 1216, 1219, 1220, 1221, 1222, 3267, 3272, 1223, 1226, 3269, 1225, 3275, 1233, 1234, 1235, 3285, 3286, 1240, 1241, 1242, 1243, 7387, 1246, 1247, 1248, 1249, 1250, 3298, 1252, 5349, 3301, 1254, 1256, 1257, 1258, 1259, 1253, 1261, 1262, 1263, 1265, 1266, 3316, 1268, 1270, 1269, 1272, 1274, 1275, 1276, 1277, 1278, 5378, 1282, 1283, 1285, 1284, 1287, 1288, 3334, 1291, 7438, 1297, 1298, 1301, 1303, 1304, 3354, 1307, 7454, 3360, 3361, 1320, 1321, 3370, 5418, 1327, 1337, 3386, 1339, 1340, 7482, 5438, 1343, 1344, 1345, 1347, 3396, 5445, 1350, 7492, 1356, 1358, 3408, 5459, 5463, 5464, 1370, 1371, 1372, 3421, 1374, 1375, 1376, 1377, 1378, 1379, 3420, 1373, 3430, 3431, 3432, 1385, 3426, 1387, 1388, 1389, 3438, 1391, 3440, 3441, 1394, 3435, 1396, 1393, 3446, 3450, 3452, 1405, 5500, 1407, 1408, 1416, 7561, 3466, 1422, 3471, 1425, 7569, 3476, 1429, 1431, 3479, 3481, 1438, 1441, 5538, 5539, 5540, 1445, 3489, 3494, 5544, 1449, 3499, 3500, 6395, 3505, 1459, 3507, 3508, 3513, 1466, 1468, 3519, 1476, 3527, 1480, 1479, 3529, 1485, 5582, 3535, 5585, 5588, 3543, 3545, 1498, 1499, 1500, 3550, 3552, 7650, 3555, 3557, 1513, 1515, 3563, 1517, 1518, 5618, 1527, 3576, 3578, 3584, 1544, 3593, 5640, 1552, 5650, 1556, 1562, 1564, 3614, 1573, 5669, 3623, 3624, 5673, 1580, 3628, 5679, 1584, 3633, 3632, 1587, 3635, 1589, 1590, 1591, 3638, 3639, 3643, 1597, 1598, 5693, 1603, 3654, 1608, 1610, 1614, 1615, 1616, 1617, 1620, 3671, 1625, 3681, 3685, 3686, 1639, 3688, 1641, 3689, 1643, 1644, 3693, 1645, 1646, 3697, 3698, 1653, 3701, 3702, 3703, 3704, 3705, 3706, 3708, 5749, 3710, 1663, 7802, 3716, 1670, 1673, 1674, 1676, 3724, 3726, 3727, 1678, 1682, 3731, 1686, 1687, 1688, 1690, 3740, 3745, 3751, 1704, 3753, 3755, 3758, 1711, 3763, 3764, 1717, 3766, 3767, 3768, 3769, 1722, 3771, 1721, 3773, 1726, 3774, 1729, 1732, 3785, 3793, 1747, 1748, 1754, 1760, 3809, 3810, 3811, 1762, 1769, 1771, 1772, 3826, 1779, 3827, 1784, 1785, 3835, 3836, 3837, 1792, 3841, 3840, 3844, 3846, 1799, 1801, 1804, 1805, 5903, 3863, 3868, 3869, 3871, 3873, 3877, 1831, 1833, 3882, 3889, 1845, 3893, 3897, 3901, 5952, 1858, 1866, 3917, 3918, 8016, 3922, 1876, 3927, 1882, 1883, 1884, 1885, 3930, 3937, 1892, 5988, 5989, 3948, 3949, 1907, 1909, 3957, 1911, 1912, 3959, 1917, 1918, 1920, 1921, 1923, 3977, 3984, 3985, 1939, 1944, 3994, 3996, 4000, 1953, 1954, 4002, 1957, 4006, 4007, 1960, 4008, 4009, 1961, 1965, 1967, 1968, 1969, 1974, 4025, 1207, 4027, 1981, 4034, 1994, 1995, 1996, 1997, 6503, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 8147, 2009, 2011, 2012, 2013, 8157, 2019, 2020, 2021, 2023, 2027, 2028, 2034, 4084, 4085, 3254, 2043, 4092, 2046}
Фильмы, которые посмотрел пользователь:
      movieId                           title  \
0           1                Toy Story (1995)
2           3         Grumpier Old Men (1995)
5           6                     Heat (1995)
43         47     Seven (a.k.a. Se7en) (1995)
46         50      Usual Suspects, The (1995)
...       ...                             ...
2802     3744                    Shaft (2000)
2836     3793                    X-Men (2000)
2847     3809          What About Bob? (1991)
2991     4006  Transformers: The Movie (1986)
3673     5060    M*A*S*H (a.k.a. MASH) (1970)

                                                 genres
0     [Adventure, Animation, Children, Comedy, Fantasy]
2                                     [Comedy, Romance]
5                             [Action, Crime, Thriller]
43                                  [Mystery, Thriller]
46                           [Crime, Mystery, Thriller]
...                                                 ...
2802                          [Action, Crime, Thriller]
2836                        [Action, Adventure, Sci-Fi]
2847                                           [Comedy]
2991           [Adventure, Animation, Children, Sci-Fi]
3673                               [Comedy, Drama, War]

[232 rows x 3 columns]

Рекомендованные фильмы, которые смотрели похожие пользователи:
      movieId                                   title  \
1           2                          Jumanji (1995)
9          10                        GoldenEye (1995)
10         11          American President, The (1995)
15         16                           Casino (1995)
16         17            Sense and Sensibility (1995)
...       ...                                     ...
5344     8910                I Heart Huckabees (2004)
5374     8961                 Incredibles, The (2004)
5632    27317               Audition (Ôdishon) (1999)
5724    27873  Metallica: Some Kind of Monster (2004)
5797    31696                      Constantine (2005)

                                                genres
1                       [Adventure, Children, Fantasy]
9                        [Action, Adventure, Thriller]
10                            [Comedy, Drama, Romance]
15                                      [Crime, Drama]
16                                    [Drama, Romance]
...                                                ...
5344                                          [Comedy]
5374  [Action, Adventure, Animation, Children, Comedy]
5632       [Drama, Horror, Mystery, Romance, Thriller]
5724                                     [Documentary]
5797               [Action, Fantasy, Horror, Thriller]

[997 rows x 3 columns]

## Модель подсчета рейтинга с использованием кластеризации